.carouselLayout{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(196,196,196,0.4);
    align-items: center;
    justify-content: center;
}

.displayMediaModal{         /*alias dMM*/
    display: flex;
    justify-content: center;
    width: 100%;
}

#dMM__carousel{
    display: flex;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
}

.dMM__mediaContents-img{
    height: 90vh;
    width: auto;
    padding-top: 20px;
}

.dMM__mediaContents-img img,
.dMM__mediaContents-img video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.dMM__mediaContents-title{
    height: 20px;
    font-size: 24px;
    color:#901C1C;
    padding-bottom: 16px;
}

.dMM__controls{
    display: grid;
    grid-template-rows: 1fr 1fr 20px;
    grid-template-areas: "close" "cdes" "txtWidth";
    align-items: start;
    justify-content: center;
    width: 100px;
}
 .dMM_controls-cdes{
    cursor: pointer;
    margin-top: -48px;
    grid-area: cdes;
 }

 .dMM_controls-close{
    cursor: pointer;
    margin-top: 20px;
 }

.dMM__controls img{
    height: 48px;
    width: auto;
}

#contactLayout{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(196,196,196,0.4);
}

#contactLayout[aria-hidden="true"]{
    visibility:hidden;
    opacity: 0;
  }

.contact_modal{
    display: flex;
    justify-content: center;
}

.modal{
    background-color: #D3573C;
    height:900px;
    width: 669px;
    border-radius: 5px;
    margin-top: 5px;
    padding:0 35px;
}

.modal h2,
#contactPhotographer {
    font-size: 64px;
    font-weight: var(--regular);
}

.modal header{
    width: 100%;
}

.modal header img{
    cursor: pointer;
}

#contactForm{
    display: grid;
    margin-top: 20px;
}

.cF__input{
    border: 0;
    height: 68px;
    border-radius: 5px;
}

.cF__input--label{
    margin: 5px 0;
}

.cF__input--area{
    height: 170px;
    margin-bottom: 25px;
}

#contactForm label{
    color: #312E2E;
    font-size: 36px;
}




