:root{
    /*Color*/
    --darkRed: #901C1C;
    --salmonRed: #D3573C;
    --grey: #757575;

    --fontDefault: "DM Sans", sans-serif;

    --regular: 400;
    --medium: 500;
    --bold: 700;

    --fontSize36: 2.25em;
    --fontSize24: 1.5em;
    --fontSize18: 1.125em;
    --fontSize13: 0.813em;
    --fontSize10: 0.625em;
    --fontSize9: 0.563em;
}

*{
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontDefault);
    font-weight: var(--regular);
}

main,
header {
    width: 1240px;
}

main{
    position: relative;
}