@import url("photographer.css");

:root{
    /*Color*/
    --darkRed: #901C1C;
    --salmonRed: #D3573C;
    --grey: #757575;

    --fontDefault: "DM Sans", sans-serif;

    --regular: 400;
    --medium: 500;
    --bold: 700;

    --fontSize36: 2.25em;
    --fontSize24: 1.5em;
    --fontSize18: 1.125em;
    --fontSize13: 0.813em;
    --fontSize10: 0.625em;
    --fontSize9: 0.563em;
}

*{
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontDefault);
    font-weight: var(--regular);
}

main,
header {
    width: 1240px;
}

main{
    position: relative;
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    padding: 0 50px;
    height: 300px;
}

.folio-section {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    justify-content: space-between;
    column-gap: 95px;
    row-gap: 20px;
}



.likes{
    display: flex;
    align-items: center;
    margin-left: 13px;
}

.stickyFooter{
    position: fixed;
    top:100%;
    bottom: 0;
    right:0;
    left: 100%;
    margin-top: -68px;
    margin-left: -400px;
}

.likesPrice {
    width: 376px;
    height: 68px;
    background-color: var(--salmonRed);
    border-radius: 5px 5px 0 0;
    justify-content: space-around;
    font-size: var(--fontSize24);
    font-weight: 500;
}

.likesPrice,
.likesPrice span{
    display: flex;
    align-items: center;
}

.contact_button,
.sortby_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.thumbnail{
    width: 100%;
    height: 100%;
    display: grid;
    row-gap: 10px;
}

.card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.card-title {
    width: 350px;
    display: flex;
    justify-content: space-between;
    color: var(--darkRed);
    font-size: var(--fontSize24);
    font-weight: var(--regular);
}

.card-title p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.heart {
    width: 21px;
    height: 24px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--darkRed);
    margin-right: 100px;
    font-size: var(--fontSize36);
}

.logo {
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section *{
    margin: 0;
}

.photographer_section article {
    justify-self: center;
    text-align: center;
}

.photographer_section article a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.photographer_section article h3 {
    color:var(--darkRed);
    font-size: var(--fontSize13);
}

.photographer_section article h2 {
    margin-top: 20px;
    color: var(--salmonRed);
    font-size: var(--fontSize36);
}

.photographer_section article .tagline{
    font-size: var(--fontSize10);
}
.photographer_section article .price{
    font-size: var(--fontSize9);
    color: var(--grey);
}

.profil{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    overflow: hidden;
}

.profil_img {
    height: 130%;
    width: 130%;
    object-fit: cover;
    position: relative;
    right: 30px;
    bottom: 30px;
}

/* DropBox design */
.dropbox_label{
    margin-top: 20px;
    margin-bottom: 58px;
    font-size: var(--fontSize18);
    font-weight: var(--bold);
}

#dropbox {
    position: absolute;
    top: 310px;
    right: 974px;
    background-color: #911C1C;
    width: 170px;
    border-radius: 5px;
  }
  
  .drop_choose{
    display: grid;
  }
  
  a {
    display: flex;
    align-items: center;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .on{
    border: #FFFFFF solid 1px;
    width: 150px;
    margin-left: 10px;
  }
  
  .fa-solid{
    margin-left: 10px;
  }
  
  .drop_button {
    height: 57px;
  }
  
  .drop_open{
    height: 57px;
    overflow: visible;
  }
  
  .drop_close{
    height: 0;
    overflow: hidden;
  }